.camera-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5px;
  color: rgb(34, 32, 32);
  position: relative;
  width: 100%; /* ทำให้ความกว้างเต็มหน้าจอ */
}

.camera-page-box-container {
  position: relative;
  z-index: 2;
}

.camera-page-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.camera-page-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.camera-page-title {
  font-size: 40px;
  font-weight: bold;
  z-index: 1;
}

.camera-page-box-container {
  display: grid; /* ใช้ Grid Layout เพื่อจัดกล่อง */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* กล่องขยายหรือหดตามพื้นที่ */
  gap: 20px; /* ระยะห่างระหว่างกล่อง */
  justify-content: center; /* จัดให้อยู่ตรงกลาง */
  width: 100%;
  max-width: 1200px; /* จำกัดความกว้างสูงสุดของกล่องทั้งหมด */
  margin: 0 auto; /* จัดกล่องให้อยู่ตรงกลางของหน้า */
  padding: 20px; /* เพิ่ม padding รอบขอบ container */
  border-radius: 8px; /* ขอบโค้งมน */
}

.camera-page-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-align: center;
  background-color: #ffffffcc;
  border-radius: 12px; /* เพิ่มความโค้งมน */
  padding: 20px; /* เพิ่ม padding ภายในกล่อง */
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* เพิ่มเงา */
}

.camera-page-box-image:hover {
  background-color: #e6f7ff; /* เปลี่ยนสีเมื่อ hover */
  transform: translateY(-5px); /* ยกกล่องขึ้นเล็กน้อย */
}

.camera-page-box-image {
  width: 120px; /* เพิ่มขนาดของรูป */
  height: 120px;
  margin-bottom: 15px;
}

.camera-page-box-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.back-button {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  color: #333;
  border-color: #ffffff00;
  font-size: 16px;
  font-weight: bold;
}

.back-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

