/* Services.css */
.services-main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  color: rgb(34, 32, 32);
  position: relative;
  width: 100%; /* ทำให้ความกว้างเต็มหน้าจอ */
}

.services-main-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(247, 247, 247, 0.3);
  z-index: 1;
}

.services-title,
.welcome-message,
.card-container {
  position: relative;
  z-index: 2;
}

.services-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.welcome-message {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.card-container {
  display: flex;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.781); /* เพิ่มพื้นหลังสีขาวโปร่งใส */
  border: 1px solid #8a8a8a;
  border-radius: 8px;
  width: 250px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.card-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card-title {
  font-size: 1.2rem;
  margin: 10px 0;
}

.card-id {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

.details-button, .add-button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.details-button:hover, .add-button:hover {
  background-color: #333;
}
